.Gallery-left-1 {
 float: left;
 width: calc(100% / 3 * 2);
}

.Gallery-left-2 {
  float: left;
  width: calc(100% / 3);
}

.Gallery-left-3 {
  float: left;
  width: calc(100% / 3)
}

.Gallery-center {
 float: right;
 width: calc(100% / 3)
}

.Gallery-right-1 {
  float: right;
  width: calc(100% / 3 * 2)
}

.Gallery-right-2 {
  float: right;
  width: calc(100% / 3)
}

.Gallery-right-3 {
  float: right;
  width: calc(100% / 3)
}