.slick-arrow{
  /* display: block; */
  cursor: pointer;
  position: absolute;
  top: 50%;
  height: 20px;
  width: 20px;
  transform: translateY(-50%);
}
.slick-next{
    right: 0;
}

/* .slick-arrow, slick-next {
  right: 70px;
} */

.slick-next {
  right: 70px;
}

.slick-prev {
  left: 70px;
}