.Payment-renderField-wrapper {
  width: 100%;
  height: 60px;
  text-align: left;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Payment-renderField-label-method-wrapper {
  margin-left: 2rem;
  width: 20%;
  height: 60px;
  text-align: left;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Payment-renderField-error-wrapper {
  width: 100%;
  height: 60px;
  text-align: left;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}

.Payment-renderField-label-wrapper {
  width: 10%;
  height: 80%; 
  display: flex;
  margin-left: 10%;
  align-items: center;
  text-align: left;
}

@media (max-width: 500px) {
  .Payment-renderField-label-wrapper {
    width: 20%;
  }
}

.Payment-renderField-label {
  width: 100%;
  font-size: 10px;
  color: dimgray;
}

.Payment-renderField-input {
  height: 80%;
  width: 80%;
  margin-right: 40px;
}

@media (max-width: 500px) {
  .Payment-renderField-input {
    width: 70%;
  }
}

.Payment-renderField-input-postcode {
  height: 80%;
  width: 80%;
  /* margin-left: 1.5%; */
  display: flex;
  justify-content: flex-start;
  margin-right: 40px;
}

@media (max-width: 500px) {
  .Payment-renderField-input-postcode {
  }
}

.Payment-renderField-button-postcode {
  outline: none;
  margin-left: 10px;
}

@media (max-width: 500px) {
  .Payment-renderField-button-postcode {
    font-size: 1rem;
  }
}


.Payment-info {
  width: 100%;
  padding-left: 4%;
  height: 40px;
  font-size: 12px;
  display: flex;
  align-items: center;
  background-color: lightgrey;
  color: dimgray;
  margin: 0;
}