.product {
  display: flex;
  /* flex: 1; */
}

@media (max-width: 500px) {
  .product {
    flex-direction: column-reverse;
  } 
}

.product-imgBox {
  width: 50%;
  float: left;
}

.product-imgBox-detail {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.product-payment-wrapper {
  width: 50%;
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
  /* float: left; */
  background: rgb(230,230,230);
}

.product-text-container {
  margin-top: 50px;
  font-size: 15px;
  text-align: left;
}


.product-text {
  margin-top: 10px;
  font-size: 15px;
  text-align: left;
}

/* .product-payment-wrapper {
  width: 50%;
  float: left;
} */

@media (max-width: 500px) {
  .product {
    flex-direction: column-reverse;
  }

  .product-imgBox {
    width: 100%;
  }

  .product-payment-wrapper {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    float: none;
  }

  .product-imgBox-detail {
    width: 100%;
  }
}