.footer {
  display: flex;
}

.Footer-wrapper {
  /* position:absolute; */
  bottom:0;
  left: 0;
  right: 0;
  width:100%;
  display: flex;
  flex-direction: row;
  background-color: #E0E0E0;
  color: white;
}

.Footer-wrapper-middle {
  width: 50%;
  flex-direction: row;
  justify-content: center;
  margin: auto;
}
.Footer-logo-text {
  font-size: 16px;
}

.Footer-logo-wrapper {
  flex-direction: row;
  justify-content: center;
  text-align: center;
  margin-left: 40%;
}

.last {
  padding-bottom: 50px;
}

@media (max-width:1000px){
  .footer {
    flex-direction: column-reverse;
  }

  .last {
    padding-bottom: 0;
    text-align: center;
  }
  .Footer-logo-wrapper {
    margin: 0;
    padding-bottom: 50px;
  }
}

.Footer-logo-contact {
  margin-top: 30px;
  text-align: center;
}
.Footer-logo {
  width: 20px;
  height: 20px;
  margin: 5px;
  background-color: white;
  text-align: center;
}

@media (max-width:1000px){
  .Footer-logo {
    width: 40px;
    height: 40px;
    margin: 20px;
  }
}
.Footer-text-wrapper-left {
  width: 50%;
  background-color: black;
  color: white;
  font-size: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  /* text-align: center; */
}

/* .Footer-text-wrapper-right {
  width: 30%;
  background-color: black;
  color: white;
  font-size: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  text-align: center;
} */