.ProductDetail-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.ProductDetail-thumbnail {
  width: 50%;
  float: left;
}

.ProductDetail-content-wrapper {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ProductDetail-content-name {
  flex-direction: row;
}

.ProductDetail-content-size {
  flex-direction: row;
}

.ProductDetail-content-qty {
  flex-direction: row;
}