.ProductDetail-wrapper {
  display: inline-block;
  background-color: rgb(230,230,230);
}

.ProductDetail-thumbnail {
  width: 50%;
  float: left;
}

.ProductDetail-content-wrapper {
  width: 50%;
  float: left;
  margin: auto;
  text-align: left;
}

.ProductDetail-content-name {
  font-size: 20px;
}

.ProductDetail-content-size {
  font-size: 20px;
}

.ProductDetail-content-qty {
  font-size: 20px;
}